.navbar {
  border-bottom: 1px solid lightgray;
}
.navIconSize {
  width: 10px;
}

.selectedNav{
  border-bottom: 3px solid black;
}

.css-imxc6v-MuiBadge-badge {
  font-size: 0.6rem !important;
  min-width: 15px !important;
  padding: 0 0px !important;
  height: 15px !important;
}


@media (min-width: 450) {
  .logo {
    width: 20px !important;
  }
  
}